body, html {
    font-family: 'Noto Sans', sans-serif;
}

#topBarContainer {
    background-color: lightgrey;
    height: 50px;
    padding: 0;
    position:absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    float: left;    
    font-size: 2em;
    padding: 5px 30px;
    padding-left: 10px;
    float: left;
    line-height: 40px;
}

#topBarContainer > ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

#topBarContainer > ul > li {
    float: left;
}

.navItem {
    display: inline-block;
    padding: 5px 20px;
    line-height: 40px;
    color: black;
    text-decoration: none;
}

.navItem:hover {
    background-color: lightblue;
}

.navItem:focus {
    background-color: lightblue;
}

.navItem:focus ~ .topBarContent {
    max-height: 400px;
    -webkit-transition: max-height 0.2s ease-in;
    -moz-transition: max-height 0.2s ease-in;
    transition: max-height 0.2s ease-in;
}

.navItem:not(:focus) ~ .topBarContent {
    max-height: 0px;
    -webkit-transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.topBarContent {
    position: absolute;
    top: 50px; 
    overflow: hidden;
    background-color: lightgray;
    max-height: 0;
}

.topBarContent a {
    color: black;
    text-decoration: none;
}

.topBarContent ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.topBarContent a:hover {
    text-decoration: underline;
}

.topBarContentSub {
    padding: 20px;
}

.topBarContentSub ul li a {
    display: inline-block;
    padding: 5px 0;
}

#topBarToggleContainer {
    vertical-align: middle;
}

#topBarToggle {
    line-height: 40px;
    background-color: lightgray;
    float: left;
    padding: 5px;
    margin: 7px;
    border-radius: 3px;
    border: 1px solid transparent;

}

#topBarToggle:active {
    border: 1px solid black;
}

#topBarToggle .iconBar {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    margin-top: 4px;
    background-color: black;
}




#sideBarContainer {
    background-color: lightgrey;
    position: absolute;
    position: fixed;
    left: 0; 
    top: 50px;
    bottom: 0;
    width: 180px;
    
}

#sideBarSubContainer {

}

#sideBarButtonSubContainer {

}

.buttonSideBar {
    background-color: transparent;
    outline: none; 
    border: none;
    height: 50px;
    width: 100%;
    text-align: left;
}



#mainContent {
    position: absolute;
    top: 80px;
    left: 180px;
    right: 0;
    bottom: 0;
    
}

.infoHeaderContainer {
    width: 100%;
}

.infoHeaderSubContainer {
    background-color: blueviolet;
    text-align: center;
    padding: 7px;
}

.infoHeaderText {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.image1Div {
    align-content: center;
}              

.imageContainer {

    
}

.imageSubcontainer {
    background-color: gainsboro;
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
}

.image {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.imageInfo {
    padding: 5px;
    margin: 5px;
    align-content: center;

}

.textContainer{
    background-color: darkgray;
    border-radius: 5px;
    
}

.boldText {
    margin: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: sans-serif;
    
}

.mainText {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    margin: 30px;
    font-family: sans-serif;
    
}

.footerSubContainer {
    align-content: center;
    width: 20em;
    position: absolute;
    margin: auto;
    width: 60%;
}

.footerText {
    text-align: center;
}